<div class="card mt-5" *ngIf="user$ |async as user; else loading">
  <div class="card-body">
    <h3 class="card-title text-center">Gracias por registrarte en nuestra aplicacion</h3>
    <div class="form-group mt-2">
      <p class="text-center">
        Se ha enviado un mail de confirmacion a su Correo <strong>{{user?.email}}</strong>
      </p>
      <p class="text-cener">
        Por favor revise su bandeja de correo y haga click en el link para confirmar su correo
      </p>
    </div>
    <div class="form-group text-center mt-2">
      <button class="btn btn-primary" (click)="onSendEmail()">Reenviar correo de verificacion</button>
    </div>
  </div>
</div>

<ng-template #loading>
  loading....
</ng-template>